<p id="notice"><%= notice %></p>

<p>
  <strong>Condition:</strong>
  <%= @alert.condition %>
</p>

<p>
  <strong>Action:</strong>
  <%= @alert.action %>
</p>

<p>
  <strong>User:</strong>
  <%= @alert.user %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
