<p id="notice"><%= notice %></p>

<p>
  <strong>Watch param:</strong>
  <%= @alert.watch_param %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @alert.condition %>
</p>

<p>
  <strong>Comparer:</strong>
  <%= @alert.comparer %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
